.detail {
  .border-right {
    border-right: 1px solid #e5e5e5;
  }

  .border-shot {
    margin-bottom: 10px;

    .blue {
      width: 40px;
      height: 2px;
      background-color: #40c8f3;
    }
  }

  .detail-data {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;

    .box-menu {
      display: flex;
      align-items: center;
      margin: 0px 0px 15px 0px;
      cursor: pointer;

      &.active {
        color: #406aa8;
      }

      .icon-menu {
        min-width: 30px;
      }

      .type-menu {
        margin-left: 10px;
      }
    }

    .box-bank {
      display: flex;
      align-items: center;
      border: 2px solid #e5e5e5;
      border-radius: 8px;
      padding: 10px;
      cursor: pointer;

      &.active {
        border-color: #406aa8;
      }

      .hexagon-box {
        position: relative;
        width: 40px;
        height: 40px;
      }

      .hexagon-img {
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        clip-path: polygon(
          25% 0%,
          75% 0%,
          100% 50%,
          75% 100%,
          25% 100%,
          0% 50%
        );
      }

      .type-bank {
        margin-left: 10px;
      }
    }
  }

  .detail-footer {
    padding: 20px 0px;

    .img-product {
      margin-right: 10px;
    }

    .box-product {
      display: flex;
    }

    .box-price {
      .box-total {
        height: 100%;

        .h-50 {
          height: 50%;
        }
      }

      .box-total-amount {
        background-color: gainsboro;
        border-radius: 8px;
        padding: 10px;
        text-align: center;
      }

      .box-checkbox {
        display: flex;
        align-items: flex-start;
        margin-top: 10px;

        .checkbox {
          margin-right: 10px;
        }
      }
    }
  }
}

// ! OVERRIDE

.g-form {
  margin-bottom: 10px;
}

.g-text {
  &.policy {
    margin: 0px 5px;
  }

  &.mb-2 {
    margin-bottom: 8px;
  }
}
